* {
    /* overflow: hidden; */
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .bg {
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg); */


/* height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;} */

.textSize {
    position: centre;
    color: rgb(45, 87, 126);
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 62px;
}

.textSize1 {
    position: centre;
    color: rgb(45, 87, 126);
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 62px;
}

.nav-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #506a83;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link:hover:after {
    width: 100%;
}

@media (min-width: 544px) {
    .textSize1 {
        font-size: 0.1rem;
    }
    .textSize {
        font-size: 0.5rem;
    }
}

@media (min-width: 768px) {
    .textSize1 {
        font-size: 0.5rem;
    }
    .textSize {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .textSize1 {
        font-size: 1.1rem;
    }
    .textSize {
        font-size: 1.7rem;
    }
}

@media (min-width: 1200px) {
    .textSize1 {
        font-size: 4.1rem;
    }
    .textSize {
        font-size: 4.5rem;
    }
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid rgb(36, 114, 119);
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #345696;
    background: #3b5a92;
    transition: 1s;
}


/* Contact css */

.background {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/contact-bg1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg {
    height: 40Vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/contact-Background.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rcm 0;
    letter-spacing: 2px;
}

.contact-bg .text {
    margin: 2.0rem;
}

.contact-body {
    max-width: 1320px;
    margin: auto;
    padding: 0.1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: gray;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}

.contact-form form {
    padding-bottom: 1rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-size: 1rem;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.send-btn {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background: gray;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.send-btn:hover {
    opacity: 0.8;
}

.contact-form>div img {
    width: 450px;
}

.contact-form>div {
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) {
    .contact-bg .text {
        width: 50%;
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width:1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* About us css */

.bkg {
    background-image: linear-gradient(rgba(26, 30, 48, 0.7), rgba(27, 30, 37, 0.7)), url(images/medicare3.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}