        * {
            box-sizing: border-box;
        }
        
        body,
        html {
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/abstract-technological-background_23-2148897676.jpg);
            background-size: cover;
        }
        
        input[type=text],
        input[type=email],
        input[type=number],
        input[type=select],
        input[type=date],
        input[type=select],
        input[type=password],
        input[type=tel] {
            width: 45%;
            padding: 12px;
            border: 1px solid rgb(168, 166, 166);
            border-radius: 4px;
            resize: vertical;
            background-color: transparent;
        }
        
        select {
            width: 45%;
            padding: 12px;
            border: 1px solid rgb(238, 234, 234);
            border-radius: 5px;
            resize: vertical;
            background-color: rgb(4, 4, 41);
        }
        
        textarea {
            width: 45%;
            border: 1px solid rgb(168, 166, 166);
            border-radius: 4px;
            resize: vertical;
            background-color: transparent;
        }
        
        h2 {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            color: rgb(100, 13, 13);
            text-align: center;
            text-decoration: underline;
        }
        
        button {
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 12px 34px;
            font-size: 20px;
            position: relative;
            cursor: pointer;
            background-color: transparent;
        }
        
        button:hover {
            transition: 1s;
            background-color: #326ca3;
        }
        
        .container {
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }
        
        .col-90 {
            float: left;
            width: 90%;
            margin-top: 6px;
            padding-bottom: 10px;
        }